<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- public/stylesheets/style.css
  node static모듈로 public이 지칭될 것임. 따라서 그 다음부터 경로 명시. -->
  <link rel="stylesheets" href="/stylesheets/style.css">
</head>
<body>
  <!-- front와 back end연동을 통한 api service가 목적
  대부분의 경우 클라이언트 요청이 들어올 때 데이터를 json으로 서비스 할 것이다.
  back end가 잘 동작하고 있는지 확인 차원에서만 뿌릴 html templete-->
  <h1>{{title}}</h1>
  <p>Welcom to {{title}}</p>
</body>
</html>